body {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-template-rows: 100px 300px auto; 
}

header {
    background-color: aquamarine;
    color: #000;
    grid-column: 1 / -1; 
    grid-row: 1; 
}

main {
    grid-column: 1 / -1; 
    grid-row: 2;
    display: grid; 
    grid-template-columns: 2fr 1fr;
}

.mane {
    grid-column: 1; 
    background-color: blueviolet;
    color: white;
    padding: 10px; 
}

.aside {
    grid-column: 2; 
    background-color: rgb(72, 72, 246);
    color: white;
    padding: 10px;
}

footer {
    background-color: aquamarine;
    color: #000;
    grid-column: 1 / -1; 
    grid-row: 3; 
    text-align: center; 
    padding: 10px; 
}

nav {
    justify-content: space-around;
    display: flex;
}
a{
    text-decoration: none;
}
