@media screen and (min-width: 600px) {
    
    main
    {background-image: url(../images/northernlightsherolarge.webp);}

    h2
    {
        color: green;
    }

    div
    {
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
    }

    img
    {
        display: none;
    }

    ul
    {
    grid-column-start: 3;
    background-color: rgba(255, 255, 255, .7);
    margin: 10px;
    }

    #stats
    {
        grid-column-start: 1;
    }
    
    li
    {
        list-style-type: none;
    }
    #weather::after
    {
            content: ""; 
            display: inline-block; 
            background-image: url("../images/weather.svg"); 
            background-size: contain; 
            background-repeat: no-repeat; 
            width: 32px; 
            height: 32px; 
            margin-left: 5px; 
            vertical-align: middle; 
        }
        
    
}