
@media screen and (min-width: 600px) {
    header {
        background-color: #b789f9;
        color: white;
    }


    .topnav a.icon {
        display: none;
    }

    .topnav
    {
        overflow: visible;
    }

     #myLinks
    {
        display: block;
        text-decoration: none;
    }

    ul {
        display: flex; 
        justify-content: space-around; 
    }


    a {
        color: white;
    }
    .temples
    {
        display: flex;
        flex-wrap: wrap;
    }

    figure
    {
        justify-content: center;
    }


}
